<% @page_description = t(:collections_description) -%>
<% @page_title = t(:collections).capitalize -%>
<h1>Collections</h1>
<h3>Category Menu</h3>
<ul>
<% new_list = true -%>
<% @categories.each do |category| -%>
  <% if category.parent_id != category.id -%>
    <% if new_list -%>
      <ul>
      <% new_list = false -%>
    <% end -%>
  <% else -%>
    <% unless new_list -%>
        </ul>
    <% end %>
    <% new_list = true -%>
  <% end %>
  <li><%= category.name %></li>
<% end -%>
</ul>
<h3>People Menu</h3>
<ul>
<% @people.each do |person| -%>
  <li><%= person.tag_line %></li>
<% end -%>
</ul>
<h3>Collections Menu</h3>
<ul>
<% @collections.each do |collection| -%>
  <li><%= collection.tag_line %></li>
<% end -%>
</ul>
<h3>Periods Menu</h3>
<ul>
<% @periods.each do |period| -%>
  <li><%= period.tag_line %></li>
<% end -%>
</ul>