<% @page_description = t(:new_description) -%>
<% @page_title = t(:subject).capitalize + ' | ' + t(:new).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>
  <%= render 'form' %>
  <%= link_to 'Back', admin_subjects_path %>
</div>
