<span>
  <%= button_to 'Add Repository Passport',
    { :controller => "admin/items", :action => 'show_add_passport_to_item', :id => item.id },
      :remote => true, :disable_with => t(:please_wait) %>
</span>