<span>
  <%= button_to 'Add Person Appearance',
    { :controller => "admin/items", :action => 'show_add_appearance_to_item', :id => item.id, :persian_focus => persian_focus },
      :remote => true %>
</span>