<div>
  <%= form_tag('/items', :method => :get) do -%>
    <%= text_field_tag :keyword_filter, t(:search_prompt), :style => "color:#aaa;",
				 :onfocus => "if(this.value=='#{t(:search_prompt)}'){this.value='';this.style.color = '#000';}",
				 :onblur => "if(this.value==''){this.value='#{t(:search_prompt)}';this.style.color = '#aaa';}"%>
    <%= submit_tag 'search', :name => '', :disable_with => "Searching..." %>
  <% end -%>
</div>