<span>
    <h3>Genre Classifications:</h3>
    <ul>
        <% sorted_list = classifications.map { |c| [c.subject.to_label, c.subject.id, c.id] if c.subject.subject_type_id == 8 }.reject{ |c| c .nil? }.sort %>
        <% sorted_list.each do |short_classification| -%>
        <% unless short_classification.nil? %>
        <li>
            <%= link_to short_classification[0], admin_subject_path(short_classification[1]) %>
            <%= link_to image_tag("delete.png", :alt => 'delete'), admin_classification_path(short_classification[2]), :confirm => 'Are you sure?', :method => :delete, :remote => 'true' %>
        </li>
        <% end %>
        <% end  %>
    </ul>
</span>
