<span>
    <h3>Item sections:</h3>
    <ul>
        <% unless sections.empty? -%>
        <%= render(sections) %>
        <% else -%>
        <li>
            No sections.
        </li>
        <% end -%>
    </ul>
</span>
