<div id="item_subject_list">
  <h3>Subjects:</h3>
  <ul>
    <% current_type_id = 0 if current_type_id.nil?  -%>
    <% subjects.each do |subject| -%>
      <% if current_type_id != subject.subject_type_id -%>
      </ul><h4><%=  link_to subject.subject_type.name, admin_subject_type_path(subject.subject_type) %>:</h4><ul>
        <% current_type_id = subject.subject_type_id -%>
      <% end %>
      <li><%= link_to truncate(subject.name), admin_subject_path(subject) %>
      <%# link_to image_tag("delete.png", :alt => 'delete'), admin_categorization_path(subject, :confirm => 'Are you sure?', :method => :delete, :remote => 'true' %></li>
    <% end -%>
  </ul>
</div>
