<span>
    <h3>People Appearances:</h3>
    <ul>
        <% unless appearances.empty? -%>
        <%= render(appearances) %>
        <% else -%>
        <li>
            No appearances.
        </li>
        <% end -%>
    </ul>
</span>
