<div class="header">
  <div class="description">
    <h1><%= controller.controller_name.capitalize %></h1>
  </div>
  <%= render 'nav_filter_bar' %>
  <div class="tools">
    <%= link_to 'New item', new_admin_item_path %>
  </div>
</div>
