<div id="tip_months">
    <table>
        <% current_position = 0 %>
        <tr>
        <% @months.each do |month| -%>
        <% unless month.position == current_position -%>
        </tr>
        <td><%= month.position %></td>
        <% current_position = month.position -%>
        <% end -%>
        <td><%= month.name_fa %></td>
        <td><%= month.name_en %></td>
        <% end -%>
        </tr>
    </table>
</div>

