<div id="tip_plot_captions">
    <table>
        <tr>
            <td>محرم</td>
            <td>Place Created</td>
        </tr>
        <tr>
            <td>محل ارسال</td>
            <td>Place Sent</td>
        </tr>
    </table>
</div>