<a class="inline" href="#tip_months" title="Tip: Islamic and Iranian Months">Tip: Islamic and Iranian Months</a>
<div style="display:none">
    <div id="tip_months">
        <table>
            <tr>
                <td>1</td>
                <td>محرم</td>
                <td>Muharram</td>
                <td>فروردين</td>
                <td>Farvardin</td>
            </tr>
            <tr>
                <td>2</td>
                <td> صفر</td>
                <td>Safar </td>
                <td>ارديبهشت </td>
                <td>Urdibihisht</td>
            </tr>
            <tr>
                <td>3</td>
                <td>ربیع‌الاول  </td>
                <td>Rabiʻ al-Avval</td>
                <td>خرداد </td>
                <td>Khurdad</td>
            </tr>
            <tr>
                <td>4</td>
                <td>ربیع‌الثانی</td>
                <td>Rabiʻ al-Sani</td>
                <td>تير</td>
                <td>Tir</td>
            </tr>
            <tr>
                <td>5</td>
                <td> جمادی‌الاول </td>
                <td> Jumada al-Avval </td>
                <td> مرداد </td>
                <td>Murdad</td>
            </tr>
            <tr>
                <td>6</td>
                <td>جمادی‌الثانی  </td>
                <td>Jumada al-Sani</td>
                <td>شهريور </td>
                <td> Shahrivar </td>
            </tr>
            <tr>
                <td>7</td>
                <td>رجب</td>
                <td>Rajab</td>
                <td>مهر</td>
                <td>Mihr</td>
            </tr>
            <tr>
                <td>8</td>
                <td>شعبان </td>
                <td>Shaʻban</td>
                <td>آبان</td>
                <td>Aban</td>
            </tr>
            <tr>
                <td>9</td>
                <td>رمضان</td>
                <td>Ramazan</td>
                <td>آذر</td>
                <td>Azar</td>
            </tr>
            <tr>
                <td>10</td>
                <td>شوال </td>
                <td>Shavval </td>
                <td>دى </td>
                <td>Day</td>
            </tr>
            <tr>
                <td>11</td>
                <td>ذی‌القعده </td>
                <td>Zuʻl Qaʻdah</td>
                <td>بهمن </td>
                <td>Bahman</td>
            </tr>
            <tr>
                <td>12</td>
                <td>ذی‌الحجه</td>
                <td>Zuʻl-Hijjah</td>
                <td>اسفند</td>
                <td>Isfand</td>
            </tr>
        </table>
    </div>
</div>
