<table>
    <tr>
        <td>آفریننده</td>
        <td>creator</td>
    </tr>
    <tr>
        <td>مگیرنده</td>
        <td>receiver</td>
    </tr>
    <tr>
        <td>کاتب</td>
        <td>copyist</td>
    </tr>
    <tr>
        <td>صاحب قبلی</td>
        <td>former owner</td>
    </tr>
    <tr>
        <td>مصاحبه شونده</td>
        <td>interviewee</td>
    </tr>
    <tr>
        <td>مصاحبه کننده</td>
        <td>interviewer</td>
    </tr>
    <tr>
        <td>ناشر</td>
        <td>publisher</td>
    </tr>
    <tr>
        <td>چاپخانه</td>
        <td>printing house</td>
    </tr>
</table>
</div>