<div id="tip_plot_captions">
    <table>
        <tr>
            <td>محل ایجاد</td>
            <td>place created</td>
        </tr>
        <tr>
            <td>محل ارسال</td>
            <td>place sent</td>
        </tr>
    </table>
</div>