<% @page_description = t(:index_description) -%>
<% @page_title = t(:item).capitalize -%>

<div id="staticContent" class="clearfix">

  <h1>Editing item</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @item %> |
  <%= link_to 'Back', admin_items_path %>
  
</div>