<% @page_description = t(:index_description) -%>
<% @page_title = t(:item).capitalize -%>

<div id="staticContent" class="clearfix">
  <div class="onecolumn"

       <div class="content nomargin">
      <%= render 'nav_edit_header_bar' %>

      <%= render 'form' %>

      <%= render 'nav_edit_header_bar' %>

    </div>
  </div>
</div>