<% @page_description = t(:new_description) -%>
<% @page_title = t(:item).capitalize + ' | ' + t(:new).capitalize -%>

<div id="staticContent" class="clearfix">
  <div class="onecolumn"
    <div class="content nomargin">
      <%= render 'nav_new_header_bar' %>
      <%= render 'form' %>
      <%= render 'nav_new_header_bar' %>
    </div>
  </div>
</div>