<% @page_description = t(:edit_description) -%>
<% @page_title = controller.controller_name.capitalize + '| ' + 'Edit' -%>

<% @back_path = session[:admin_subject_types_index_url] ||= admin_subject_types_path %>
<% @show_path = admin_subject_type_path(@subject_type) %>

<div id="staticContent" class="clearfix">
  <div class="onecolumn">
    <div class="content nomargin">
      <%= render :partial => 'admin/admin/nav_edit_header_bar', :locals => {:back_path => @back_path, :show_path => @show_path} %>
      <%= render 'form' %>
      <%= render :partial => 'admin/admin/nav_edit_header_bar', :locals => {:back_path => @back_path, :show_path => @show_path} %>
    </div>
  </div>
</div>