<% @page_description = t(:utilities_description) -%>
<% @page_title = t(:utilities).capitalize + " | Rename by File Name" -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>
	<p>This utility renames files in the folder <%= @base_dir %></p>
	<p>Renaming completed <%= @failed ? "unsuccessfully" : "successfully" %>!</p>
</div> <!-- end browser --><!-- end featured -->