<% @page_description = t(:new_description) -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title = t(:repository).capitalize + ' | ' + t(:new).capitalize %></h1>
  <p><%= link_to 'Back', repositories_path %></p>
  <%= render 'form' %>
  <p><%= link_to 'Back', repositories_path %></p>
</div>