<% unless passport.nil? || passport.repository.nil? -%>
<li>
    <%= passport.repository.name unless passport.repository.nil? %>: <%= link_to passport.tag, admin_passport_path(passport) %>
    <%= link_to image_tag("delete.png", :alt => 'delete'), admin_passport_path(passport), :confirm => 'Are you sure?', :method => :delete, :remote => 'true' %>
</li>
<% end %>
