@charset "UTF-8";
/* put pdf styles here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: "Times New Roman", Times, serif;
	line-height:13px;
}
p {
    margin: 10px 0px 10px 0px;
    line-height:13px;
}

h1 {
	border-bottom:1px solid #ddd;
	color:#333333;
	font-size:22px;
	font-weight:bold;
	margin:20px 0 56px;
	padding-bottom:10px;
	font-family:"Times New Roman", 'Helvetica Neue',Arial, Helvetica, sans-serif;
	line-height:22px;
}

h2{
	font-size:22px;
	font-weight:bold;
	margin:80px 0 15px 0;
	font-family:"Times New Roman", 'Helvetica Neue',Arial, Helvetica, sans-serif;
	line-height:22px;
}

h2.page_item{
	margin-top:20px!important;
	border-bottom:1px solid #efefef;
	padding-bottom:10px;
	font-size:18px;
	line-height:18px;
}

p, ul, li{
	font-size:12px;
}

ul li span{
	font-style:italic;
	font-size:11px;
	font-weight:bold
	
}

ul li{
	
	padding:2px 0px;
	
}

p.description{
	font-size:16px;
	color:#666666;
	font-family:"Times New Roman", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	line-height: 16px;
}


p#legal_disclaimer{
	color:#888;
	font-size:10px;
}

p#full_citation span{
	font-weight:bold;
}

.page-breaker {
    display: block;
    clear: both;
    page-break-before: always;
}  

img.item_image {
	width: 700px;
	max-width:700px;
	max-height:900px;
}
