# additional security tokens not to be checked into the open source repository, used by application_controller.rb and deploy.rb (Capistrano)
ADMIN_USERNAME = 'Editor2011'
ADMIN_PASSWORD = 'nat5ees4ok5ots8'
PRODUCTION_DATABASE_USERNAME = 'Qajar2011'
PRODUCTION_DATABASE_PASSWORD = 'voc7biack2ild8u'
