<% @page_description = t(:new_description) -%>
<% @page_title = controller.controller_name.humanize + ' | ' + t(:new).capitalize -%>

<% @back_path = admin_clips_path %>
<div id="staticContent" class="clearfix">
  <div class="onecolumn"
    <div class="content nomargin">
      <%= render :partial => 'admin/admin/nav_new_header_bar', :locals => {:back_path => @back_path} %>
      <%= render 'form' %>
      <%= render :partial => 'admin/admin/nav_new_header_bar', :locals => {:back_path => @back_path}  %>
    </div>
  </div>
</div>