<% @page_description = t(:faq_description) -%>
<% @page_title = @page.title -%>
<h1>
  <%= @page.title %>
</h1>
<%  unless @page.author == 'Anonymous' -%>
<p>
  <%= @page.author%>
</p>
<% end %>
<%  unless @page.caption.blank? -%>
<em>
  <%= @page.caption %>
</em>
<% end %>
<%= raw @page.body %>


