<% @page_description = t(:faq_description) -%>
<% @page_title = @page.title -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page.title %></h1>
  <% unless @page.caption.blank? %>
  <em><%= raw @page.caption %></em>
  <% end %>
  <%= raw @page.body %>
</div> <!-- end browser --><!-- end featured -->


