<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  </head>
  <body>
  	<% unless @note.blank? -%>
  	<p>
  		<%= @note %>
  	</p>
  	<% end -%>
    <p>
    	<%= t(:suggested_citation) %>: <em><%= raw @html_citations %></em>
    </p>
    <hr />
    <p>
    	<%= t(:legal_disclaimer) %>
    </p>
  </body>
</html>