  <div class="adminBar clearfix">
    <div class="sortnav" id="viewMode" style="float:left"><%= link_to 'New item', new_classification_path %></div>
    <div class="sortnav paginate" id="admin_pagination"><%= will_paginate @classifications %></div>
  </div>
    <p>&nbsp;</p>