<% unless appearance.nil? || appearance.person.nil? -%>
<li>
    <%= link_to appearance.to_label, admin_person_path(appearance.person.name) unless appearance.person.nil? %>
    <%= link_to image_tag("delete.png", :alt => 'delete'), admin_appearance_path(appearance), :confirm => 'Are you sure?', :method => :delete, :remote => 'true' %>
</li>
<% end %>
