<li>
  <%= link_to plot.place.name, admin_place_path(plot.place.name) unless plot.place.nil? %>
  <%= link_to image_tag("delete.png", :alt => 'delete'), admin_plot_path(plot), :confirm => 'Are you sure?', :method => :delete, :remote => 'true' %>
</li>