<div id="menu_wrapper">

  <ul class="nav">
    <li>
      <a href="" class="active">
        Home
      </a>
    </li>
    <li>
      <a href="">
        Item
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Add New Item
              </a>
            </li>
            <li>
              <a href="">
                Manage Items
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
    <li>
      <a href="">
        Collection
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Add New Collection
              </a>
            </li>
            <li>
              <a href="">
                Manage Collections
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
    <li>
      <a href="">
        Organization
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Subjects
              </a>
            </li>
            <li>
              <a href="">
                Subject Types
              </a>
            </li>
            <li>
              <a href="">
                Classifications
              </a>
            </li>
            <li>
              <a href="">
                Periods
              </a>
            </li>
            <li>
              <a href="">
                Places
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
    <li>
      <a href="">
        People
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Person
              </a>
            </li>
            <li>
              <a href="">
                Relationships
              </a>
            </li>
            <li>
              <a href="">
                Appearance
              </a>
            </li>
            <li>
              <a href="">
                Appellation
              </a>
            </li>
            <li>
              <a href="">
                Owner
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
    <li>
      <a href="">
        Media
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Clips
              </a>
            </li>
            <li>
              <a href="">
                Clip Types
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
    <li>
      <a href="">
        Exhibitions
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Create new exhibition
              </a>
            </li>
            <li>
              <a href="">
                Manage Exhibitions
              </a>
            </li>
            <li>
              <a href="">
                Manage Panels
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
    <li>
      <a href="">
        Translation
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Add new translation
              </a>
            </li>
            <li>
              <a href="">
                Manage Translations
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
    <li>
      <a href="">
        Pages
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Add new page
              </a>
            </li>
            <li>
              <a href="">
                Manage pages
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
    <li>
      <a href="">
        Utilities
      </a>
      <div class="popup">
        <div class="top"></div>
        <div class="content">
          <ul class="submenu">
            <li>
              <a href="">
                Rename Files
              </a>
            </li>
            <li>
              <a href="">
                Other itmes
              </a>
            </li>
          </ul>
          <br class="clear"/>
        </div>
        <div class="footer"></div>
      </div>
    </li>
  </ul>
</div>