
<!-- Begin 1st level tab -->
<ul class="first_level_tab">
  <li >
    <a href="" class="active" id="itemsLink">
      Items
    </a>
  </li>
  <li >
    <a href="" id="collectionsLink">
      Collections
    </a>
  </li>
  <li >
    <a href="" id="exhibitionsLink">
      Exhibitions
    </a>
  </li>
</ul>
<!-- End 1st level tab -->
