<div class="header">
  <div class="description">
    <h1><%= link_to controller.controller_name.capitalize, back_path %> | <%= controller.action_name.capitalize %></h1>
  </div>
  <div class="tools">
    <%= link_to 'Show', show_path %> |
    <%= link_to 'Back', back_path %>
  </div>
</div>
