<div class="header">
  <div class="description">
    <h1><%= controller.controller_name.capitalize %></h1>
  </div>
  <div class="tools">
    <% unless new_passed_path.nil? %>
      <%= link_to 'New', new_passed_path %>
    <% end %>
    <% unless show_all_path.nil? %> |
      <%= link_to 'Show All', show_all_path %>
    <% end %>
  </div>
</div>
