<% @page_description = t(:admin_description) -%>
<% @page_title = 'Administration' -%>

<div id="staticContent" class="clearfix">
  <h1>Administration</h1>
  <h3>Welcome to the administrative pages. Use the menu above to manage and add new objects to the collection. </h3>
</div> <!-- end browser --><!-- end featured -->