<div id="filterOptions">
  <a class="filter" id="filterStatus" href="#"><strong class="filter">Search Filters</strong></a>
  <a class="filter" id="byGenre" href="#">Genres: <span>All</span></a>
  <a class="filter" id="byPeriod" href="#">Period: <span>All</span></a>
  <a class="filter" id="byCollection" href="#">Collection: <span>All</span></a>
</div>
<div id="filtersPanel">
  <form method="get" action="/archive/browser">
    <div id="genreFilter">
      <ul>
        <li class="selectAll"><input type="checkbox" name="allGenres" /><label for="">All</label></li>
      </ul>
      <ul class="genreFilterList">
        <% subject_types.each do |subject_type|  %>
        <li><input type="checkbox"  name="subject_filter_<%= subject_type.id %>" value="<%subject_type.id %>" /><label for=""><%= subject_type.name %></label></li>
        <% end %>
      </ul>
    </div>
    <div id="periodFilter">
      <ul>
        <li class="selectAll"><input type="checkbox" name="allPeriods" /><label for="">All</label></li>
      </ul>
      <ul class="periodFilterList">
        <% periods.each do |period|  %>
        <li><input type="checkbox"  name="selectedGenre" /><label for=""><%= period.title %></label></li>
        <% end %>
      </ul>
    </div>
    <div id="collectionFilter">
      <ul>
        <li class="selectAll"><input type="checkbox" name="allCollections" /><label for="">All</label></li>
      </ul>
      <ul class="collectionFilterList">
        <% collections.each do |collection| %>
        <li><input type="checkbox"  name="selectedGenre" /><label for=""><%= collection.name %></label></li>
        <% end %>
      </ul>
    </div>
  </form>
  <div id="filterPanelButtonBar">
    <a id="cancelFilters" class="blackButton" href="#">Close</a>
    <a id="submitFilters" class="redButton" href="#">Search</a>
  </div>

</div>