<div id="browserMessage">
  <% if items.empty? -%>
    <%= t(:showing_no_records) -%>
  <% else -%>
    <%= "#{t(:results_prefix)}: #{localized_number(items.offset + 1)} - #{localized_number([items.offset + items.per_page,items.total_entries].min)} | #{localized_number(items.total_entries)}" %>
  <% end -%>
</div>