<div id="search-result-tools">
	<% unless @item_ids.empty? -%>

		<% if @filters[:my_archive_filter].nil? || @filters[:my_archive_filter].empty? -%>
	    	<%= link_to t(:add_all_to_my_archive).titleize, archive_browser_remember_path(:ids => @item_ids ), :method => "POST", :confirm => t(:add_all_to_my_archive), :class =>"redButton right" %>
	    <% else -%>
	        <%= link_to t(:email_all_citations).titleize, "#email-popup", :class =>"redButton right", :rel=>"shadowbox[email];width=450px;height=420px;", :id => "email-hook" %>
	        <%= link_to t(:clear_my_items).titleize, archive_clear_my_items_path(:ids => @item_ids ), :method => "POST", :confirm => t(:clear_my_items), :class =>"blackButton right" %>
		<% end -%>

	<% end -%>
</div>
<h2><%= raw format_results_message(items, query_labels) %></h2>