<% if collection.items.size > 0 -%>
<li class="collection_item">
    &raquo; <%= link_to( raw("#{collection.name} <span>#{localized_number(collection.items_count)}</span>"), archive_browser_path('collection_filter[]' => collection.id)) %>
    <%= link_to t(:collection_info), archive_collection_detail_path(:id => collection.id), :class => "collectionInfoLink" %>
</li>
<% @counter += 1 %>
<% end -%>
