<div id="email-confirmation-popup" style="display:none;">
	<div id="email-popup-content" style="padding:20px;color:#fff;">
		<h2><%= t(:email_popup_prompt) %></h2>
		<%= render :partial => 'archive/email_confirmation' %>
	</div>
</div>
