<div id="translation-popup" style="display:none;">
    <div id="translation-popup-content" style="padding:20px;color:#fff;">
        <div class="print_friendly_link">
            <%= link_to t(:print_friendly_view), "#" %>
        </div>
        <p class="citation">
            <em><%= item.full_citation %></em>
        </p>
        <hr />
        <%= raw item.transcript_en unless item.transcript_en.blank? %>
    </div>
</div>