<div id="zoomify-popup" style="display:none;">
    <div id="print-popup-content" style="padding:20px;color:#fff;">
		<div class="zoomify_container">
        <%= render :partial => "zoomify", :locals => { :item => item } %>
        </div>
        <div>Pagination Controls TK</div>
    </div>
</div>