<% if genre.items.size > 0 -%>
<li class="genre_item">
    &raquo; <%= link_to( raw("#{genre.name} <span>#{localized_number(genre.items_count)}</span>"), archive_browser_path(:subject_filter => genre.id)) %>
</li>
<% @counter += 1 %>
<% end -%>
