<% if genre.items_count > 0 -%>
<li class="genre_item">
    &raquo; <%= link_to( raw("#{genre.name} <span>#{localized_number(genre.items_count)}</span>"), archive_browser_path('genre_filter[]' => genre.id)) %>
</li>
<% @counter += 1 %>
<% end -%>
