<h3 class="<%= 'active' unless @my_archive_filter.nil? %>">
  <%= link_to t(:my_archive) + " (#{localized_number(@my_archive_ids.size.to_s)})", archive_browser_path(:my_archive => @my_archive_filter.nil?) -%>
</h3>
<div class="list">
    <ul class="default">
        <li>
            <%= link_to t(:show_my_items) + " (#{localized_number(@my_archive_ids.size.to_s)})", archive_browser_path(:my_archive => true) %>
        </li>
        <li>
            <%= link_to t(:clear_my_items), archive_clear_my_items_path %>
        </li>
    </ul>
</div>