<div id="items">
  <div class="noItems">
    <h2>Sorry, we could not find matching items.</h2>
    <p>Here are some search tips for you: </p>
    <ul>
      <li>Select fewer filters at one time</li>
      <li>Use the 
        <%= link_to t(:people), archive_people_path %>,
        <%= link_to t(:place), archive_places_path %>, and
        <%= link_to t(:subject), archive_subjects_path %> indexes</li>
      <li>Try variations of any keywords</li>
    </ul>
  </div>
</div>