<div id="items">
  <div class="noItems">
  	<h2> No Items Found </h2>
	<p> Here are some search tips for you: </p>
	<ul>
		<li> Widen your filters </li>
		<li> Do something else </li>
		<li> Have a break </li>
	</ul>
  </div>
</div>