<div class="paginationBar clearfix">
  <div class="sortnav paginate">
    <div class="pagination"><span class="previous_page disabled">previous</span> <em>1</em> <a rel="next" href="/archive/browser?locale=en&amp;page=2">2</a> <a href="/archive/browser?locale=en&amp;page=3">3</a> <a href="/archive/browser?locale=en&amp;page=4">4</a> <a href="/archive/browser?locale=en&amp;page=5">5</a> <a class="next_page" rel="next" href="/archive/browser?locale=en&amp;page=2">next</a></div>
  </div>
  <ul class="sortnav" id="sort" style="float:left; width:200px;">
    <li class="label">Sort By :</li>
    <li class="active"><a href="/archive/browser?locale=en&amp;sort_mode=alpha_dsc" class="module-link AZsort">A-Z</a><span class="down"></span></li>
    <li class=""><a href="/archive/browser?locale=en&amp;sort_mode=date_asc" class="module-link Datesort">Date</a><span class="up"></span></li>
  </ul>
  <ul class="sortnav" id="viewMode" style="float:left">
    <li class="label">View Mode </li>
    <li class="active"><a href="/archive/browser?locale=en&amp;view_mode=list" class="module-link">List View</a></li>
    <li class=""><a href="/archive/browser?locale=en&amp;view_mode=grid" class="module-link">Grid View</a></li>
  </ul>
</div>