<% if place.items.size > 0 -%>
<li class="place_item">
    &raquo; <%= link_to( raw("#{place.name} <span>#{localized_number(place.items_count)}</span>"), archive_browser_path('place_filter[]' => place.id)) %>
</li>
<% @counter += 1 %>
<% end -%>
