<% if subject.items_count > 0 -%>
<li class="subject_item">
    &raquo; <%= link_to( raw("#{subject.name} <span>(#{localized_number(subject.items_count)})</span>"), archive_browser_path('subject_filter[]' => subject.id)) %>
</li>
<% @counter += 1 %>
<% end -%>
