<% if subject.items_count > 0 -%> 
<li class="subject_item">
    <%= subject.name %>
    <%= link_to( "#{t(:items)}: #{localized_number(subject.items_count)}", archive_browser_path(:subject_filter => subject.id)) %>
</li>
<% end -%>
