<% @page_description = t(:collections_description) -%>
<% @page_title = t(:archive).capitalize + " | " + t(:collections).capitalize -%>


<div id="staticContent" class="clearfix">
  <h1><%= link_to t(:archive).capitalize, archive_path %> | <%= t(:collections).capitalize %></h1>
  <ul>
    <%= render :partial => 'collection', :collection => @collections %>
  </ul>
</div> <!-- end browser --><!-- end featured -->


