<% @page_description = t(:archive_description) -%>
<% @page_title = t(:archive).capitalize -%>

<div id="browser" class="clearfix">
	<ul>
		<% @subject_types.each do |subject_type| %>
			<li><%= link_to subject_type.name, :action => :browser, :subject_type_filter => subject_type.id %></li>
		<% end %>
		<li><%= link_to "Browse the Archive", :action => :browser %></li>
		<% @periods.each do |period| %>
			<li><%= link_to period.title + " (" + period.items_count.to_s + ")", :action => :browser, :period_filter => period.id %></li>
		<% end %>
	</ul>
</div>

