<% @page_description = t(:people_description) -%>
<% @page_title = t(:archive).capitalize + " | " + t(:people_index).capitalize -%>


<div id="staticContent" class="clearfix">
  <h1><%= link_to t(:archive).capitalize, archive_path %> | <%= t(:people_index).titleize %></h1>
  <ul class="people_list">
   <%= render :partial => 'person', :collection => @people %>
  </ul>
</div>



